services:
  # RabbitMQ broker
    rabbitmq:
        image: rabbitmq:3-managment
        container_name: rabbitmq
        ports:
          - "5672:5672"
          - "15672:15672"
        environment:
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest

  # Elasticsearch
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.14.0
        environment:
          - discovery.type=single-node
          - xpack.security.enabled=false
        ports:
          - "9200:9200"
  # Kibana 
    kibana:
        image: docker.elastic.co/kibana/kibana:8.14.0
        environment:
          - ELASTICSEARCH_HOST=http://elasticsearch:9200
        ports:
          - "5601:5601"
        depends_on:
          - elasticsearch
        
